:root{
  --color-brand-primary: rgba(211, 248, 90, 1);
  --color-brand-gradient: linear-gradient(119.99deg, #7BA49A 21.9%, #159777 125.17%);
  --color-brand-black: rgba(0, 0, 0, 1);
  --color-brand-gray: rgba(255, 255, 255, 0.04);
  --color-brand-gray-light: rgba(255, 255, 255, 0.06);
  --color-secondary-black: rgba(4, 9, 20, 1);
  --color-brand-blue: rgba(36, 62, 87, 1);
  --color-brand-white: rgba(255, 255, 255, 1);
  --color-brand-star: rgba(254, 183, 5, 1);
}